Repository epicblues/algo-exercise, pull requests merged in 2022-07, with the labels that each got.

#36 [res-cogitans] 14일차: 22.07.22
  res-cogitans/javatest/baekjoon/Bj1620.java
  res-cogitans/javatest/baekjoon/Bj7568.java
Labels: res-cogitans

#35 [epicblues] 2022.7.22
  epicblues/baekjoon/Problem_17478.java
Labels: epicblues

#34 [kkj0419] 2022.07.22
  kkj0419/baekjoon/bj14503.java
Labels: kkj0419

#37 [epicblues] 2022.07.23
  epicblues/baekjoon/Problem_16928.java
Labels: epicblues

#38 [res-cogitans] 15일차: 22.07.23
  res-cogitans/javatest/baekjoon/Bj17219.java
  res-cogitans/javatest/baekjoon/Bj1764.java
  res-cogitans/javatest/baekjoon/Bj18870.java
Labels: res-cogitans

#40 [res-cogitans] 16일차: 22.07.24
  res-cogitans/javatest/baekjoon/Bj10989.java
  res-cogitans/javatest/baekjoon/Bj18111.java
  res-cogitans/javatest/baekjoon/Bj2775.java
Labels: res-cogitans

#42 [res-cogitans] 17일차: 22.07.25
  res-cogitans/javatest/baekjoon/Bj1072.java
  res-cogitans/javatest/baekjoon/Bj10815.java
  res-cogitans/javatest/baekjoon/Bj1085.java
  res-cogitans/javatest/baekjoon/Bj1654.java
  res-cogitans/javatest/baekjoon/Bj2231.java
  res-cogitans/javatest/baekjoon/Bj2512.java
  res-cogitans/javatest/baekjoon/Bj2805.java
Labels: res-cogitans

#41 [epicblues] 2022.07.25
  epicblues/baekjoon/Problem_1697.java
Labels: epicblues

#44 [res-cogitans] 18일차: 22.07.26
  res-cogitans/javatest/baekjoon/Bj1018.java
  res-cogitans/javatest/baekjoon/Bj2292.java
Labels: res-cogitans

#46 [res-cogitans] 19일차: 22.07.27: CLASS 2 완료
  res-cogitans/javatest/baekjoon/Bj10250.java
  res-cogitans/javatest/baekjoon/Bj1874.java
  res-cogitans/javatest/baekjoon/Bj2108.java
  res-cogitans/javatest/baekjoon/Bj2839.java
Labels: res-cogitans

#45 [epicblues] 2022.07.27
  epicblues/baekjoon/Problem_5086.java
Labels: epicblues

#47 [epicblues] 2022.07.28
  epicblues/baekjoon/Problem_15650.java
Labels: epicblues

#48 [res-cogitans] 20일차: 22.07.28
  res-cogitans/javatest/baekjoon/Bj11399.java
Labels: res-cogitans

#49 [epicblues] 2022.07.29
  epicblues/baekjoon/Problem_15964.java
Labels: epicblues

#50 [res-cogitans] 21일차: 22.07.29
  res-cogitans/javatest/baekjoon/Bj11047.java
  res-cogitans/javatest/baekjoon/Bj11727.java
  res-cogitans/javatest/baekjoon/Bj1463.java
  res-cogitans/javatest/baekjoon/Bj2579.java
Labels: res-cogitans

#52 [res-cogitans] 22일차: 22.07.30
  res-cogitans/javatest/baekjoon/Bj1260.java
Labels: res-cogitans

#54 [res-cogitans] 23일차: 22.07.31
  res-cogitans/javatest/baekjoon/Bj1012.java
  res-cogitans/javatest/baekjoon/Bj2606.java
  res-cogitans/javatest/baekjoon/Bj2667.java
Labels: res-cogitans

#53 [epicblues] 2022.07.31
  epicblues/baekjoon/Problem_6064.java
Labels: epicblues
